/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Code */

:root {
	--subtext-color: #838181;
	--text-color: #2e2e2e;

	--primary-color: #e6e6e6;
	--secondary-color: #713f12;
	--tertiary-color: #4d7c0f;
	--background-color: #333;
}

body {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: clamp(200px, 15%, 400px) auto;
}

a {
	text-decoration: none;
}

.side-menu {
	background-color: var(--secondary-color);
	padding: 20px;
	
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.side-menu h2 {
	color: var(--primary-color);
	font-size: 1.25rem;
	font-weight: bold;
}

.side-menu ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.side-menu ul li {
	display: flex;
	align-items: center;
	gap: 20px;
}

.side-menu ul svg {
	width: 20px;
	color: var(--primary-color);
}

.side-menu ul a {
	font-weight: bold;
	color: #fff;
}

.main {
	display: grid;
	grid-template-rows: 15% auto;
}

header {
	background-color: var(--primary-color);
	padding: 10px 30px;

	display: grid;
}

header .top-content,
header .bottom-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


header .top-content {

}

.top-content .searchbar {
	display: flex;
	align-items: center;
	gap: 20px;
	
}

.top-content .searchbar input[type=search] {
	background-color: #fff;
	border: none;
	width: 800px;
	height: 30px;
	padding: 10px;
	border-radius: 20px;
}

input[type=search]:focus {
	outline: 2px solid var(--tertiary-color);
	background-color: var(--subtext-color);
}

.top-content svg {
	width: 20px;
}

.top-content .top-buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}

header .top-content label {
	display: none;
}

header .bottom-content {

}

header .bottom-content ul {
	display: flex;
	gap: 20px;
}

header .bottom-content ul li {
	flex-basis: 75px;
}

header .bottom-content ul button {
	border-radius: 10px;
	border: 1px solid var(--tertiary-color);
	height: 25px;	
	width: 75px;

	transition: all 100ms ease-in-out;
}

.bottom-content ul button:hover {
	cursor: pointer;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	border: none;
}

.main .main-content {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto;
	gap: 10px;

	padding: 10px;
}

.main .main-content .projects,
.main .additional-info .announcements,
.main .additional-info .trending {
	display: grid;
	grid-template-rows: 20px auto;
}

.main .main-content .projects .project-content {
	box-sizing: border-box;
	
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit clamp(50px, 20%, 200px));
	gap: 20px;
}

.main .main-content .project-card {
	background-color: var(--primary-color);
	border-left: 4px solid var(--tertiary-color);
	padding: 20px;

	position: relative;

	display: grid;
	grid-template-rows: 50% 50%;
}

.project-card .card-text h3{
	font-weight: bold;
	color: var(--text-color);
}

.project-card .card-text p {
	color: var(--subtext-color);
}

.project-card .card-options {
	position: absolute;
	right: 20px;
	bottom: 20px;

	display: grid;
	grid-template-columns: repeat(3, 20px);
	grid-template-rows: 20px;
	gap: 20px;
}

.project-card .card-options button {
	background-color: rgba(255, 0, 0, 0);
	border: none;
	padding: none;
}

.project-card .card-options svg {
	height: 100%;
	color: var(--text-color);
}

.main .main-content .project-card
.main .additional-info .announcements-content,
.main .additional-info .trending-content {
	border-radius: 4px;
}

.main .additional-info {
	display: grid;
	gap: 10px;
}

.main .additional-info .announcements-content,
.main .additional-info .trending-content {
	background-color: var(--primary-color);
	display: grid;
}

.main .additional-info .announcements-content {
	padding: 10px 20px; 
}

.main .additional-info .announcements-content li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main .additional-info .announcements-content li .announcement-item {
	
}

.announcement-item h3 {
	font-weight: bold;
	color: var(--text-color);
}

.announcement-item p {
	color: var(--subtext-color);
}

.main .additional-info .announcements-content li:nth-child(2) {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	
}

.additional-info .trending-content{
	padding: 20px;
}

.trending-content li {
	display: flex;
	align-items: center;
	gap: 10px;
}

na {
	color: #713f12;
	color: #b45309;
	color: #d6d3d1;
	color: #4d7c0f;
}