/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Code */

body {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: clamp(200px, 15%, 400px) auto;
}

a {
	text-decoration: none;
}

.side-menu {
	background-color: #831843;
	padding: 20px;
	
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.side-menu ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.side-menu ul a {
	font-weight: bold;
	color: #fff;
}

.main {
	display: grid;
	grid-template-rows: 15% auto;
}

header {
	background-color: green;
	padding: 10px 30px;

	display: grid;
}

header .top-content,
header .bottom-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


header .top-content {

}

header .top-content .top-buttons {
	display: flex;
	/* justify-content: ; */
	align-items: center;
}

header .top-content label {
	display: none;
}

header .bottom-content {

}

header .bottom-content ul {
	display: flex;
	gap: 20px;
}

.main .main-content {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto;
	gap: 10px;

	padding: 10px;
}

.main .main-content .projects,
.main .additional-info .announcements,
.main .additional-info .trending {
	display: grid;
	grid-template-rows: 20px auto;
}

.main .main-content .projects .project-content {
	box-sizing: border-box;
	height: ;
	
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit clamp(50px, 20%, 200px));
	gap: 20px;
}

.main .main-content .project-card {
	background-color: aqua;
	border-left: 4px solid red;
	border-radius: 4px;
}

.main .additional-info {
	display: grid;
	/* grid-template-rows: ; */
}